---
import GoogleSignIn from "@/components/GoogleSignIn.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="login">
    <main>
        <GoogleSignIn />
    </main>
</Layout>


<style>
    main {
        display: grid;
        place-content: center;
        height: 100dvh;
    }
</style>