---
import Section from "@/components/Section.astro";
import Sideabar from "@/components/Sideabar.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="">
  <main>
    <Section
      icon="inbox"
      valor="false"
      label="tarea1"
      descripcion="Mi actividad"
      titulo=""
    />

    <Section
      icon="inbox"
      valor="false"
      label="tarea1"
      descripcion="Visualizacion del componente lorem ipsum lorem ipsum lorem"
      titulo="Mi actividad"
    />

    <Section
      icon="inbox"
      valor="false"
      label="tarea1"
      descripcion="Viusaliza"
    />
  </main>
</Layout>
