<script>

</script>

<header class="header">
    <button id="openmodal">settings</button>
</header>

<dialog>
    <h2>Settings</h2>
</dialog>

<style>
    .header {
        width: 100%;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    dialog::backdrop {
        background: black;
    }
</style>