---
import {menuSidebar} from "@/const"
import SidebarItem from "./SidebarItem.astro"
import UserMenu from "./UserMenu.astro"
import SignOut from "./SignOut.astro"
---

<aside class="sidebar">
    <div class="sidebar-content">
        <div>
            <div style="display:flex">
                <UserMenu />
                <div style="width: fit-content; padding: 0 10px;">
                    <a href="">no</a>
                    <a href="">menu</a>
                </div>
            </div>
            <nav>
                <ul style="gap: 4px 0;" >
                    {menuSidebar.map(({label, icon, href}) => (
                        <SidebarItem icon={icon} href={href}>
                            {label}
                        </SidebarItem>
                    ))}
                </ul>
            </nav>
        </div>
        
        <footer>
            <SignOut/>
            <ul>
                <SidebarItem icon="plus" href="">
                Add a team
            </SidebarItem>
            </ul>
        </footer>
    </div>
</aside>


<style>
    .sidebar {
        width: 280px;
        height: 100dvh;
        position: sticky;
        top: 0;
        left: 0;
        bottom: 0;
        background: var(--secondary);
    }
    .sidebar-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 10px;
        height: 100%;
    }
</style>