

<aside class="sidebar">
    <div class="sidebar-content">
        <div></div>
        <ul></ul>
        <div></div>
    </div>
</aside>


<style>
    .sidebar {
        width: 280px;
        height: 100dvh;
        position: sticky;
        top: 0;
        left: 0;
        bottom: 0;
        background: var(--secondary);
        border-right: 2px solid gray;
    }
</style>