<button id = "signOut">
    signOut
</button>

<script lang = "ts">

    import {signOut} from ("auth-astro/client")

    const btn = document.getElementById("signOut")

    btn?.onclick = () => {
        try{
            signOut()
        } catch (err) {
            console.error(error)
        }
    }
</script>