---
import App from "@/layouts/App.astro";
import Section from "@/components/Section.astro";
---

<App title="filters-labels">
  <h1>today</h1>
  <Section
    icon="inbox"
    valor="false"
    label="tarea1"
    descripcion="Mi actividad"
    titulo="titulo"
  />
</App>
