---
import Sideabar from "@/components/Sideabar.astro";
import Layout from "./Layout.astro";
import Header from "@/components/Header.astro";
import BotAgregar from "@/components/BotAgregar.astro";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<Layout title={title}>
  <Sideabar />
  <main>
    <Header />
    <div class="container">
      <slot />
      <BotAgregar />
    </div>
  </main>
</Layout>

<style>
  main {
    flex: 1;
    width: 100%;
    padding: 0;
  }

  @media (min-width: 768px) {
    main .container {
      max-width: 768px;
      margin: 0 auto;
    }
  }
</style>
